@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*away xhom*/

li, a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgb(32, 24, 32);
  }
  nav li{
  display: inline-block;
  padding: 0px 30px;
  margin: 0 5px;
  }
  .active{

      text-decoration: underline; 
      color: red;

  }

  label.logo{
    color: white;
    font-size: 45px;
    line-height: 70px;
    padding: 0px;
    font-weight: bold;
    padding-right: 200px;
  }
  
  nav, li, a:hover{
    color: #00ff00;
  }




/*ta eraya*/



header{
  width:100vw ;
  height: 100vh;
  background: url('img1.jpg') ;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content{

    color: whitesmoke;
    text-align: center;

}
.header-content h2{

    font-size: 4vmin;

}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #7c0335;
    border-radius: 30px;
    color: whitesmoke;
}




/* bashi 2*/



.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span{
  font-weight: 100;
}
.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}



}

.image{
  width:100vw ;
  height: 130vh;
  background: url('jwana.jpg') ;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content1{

    color: whitesmoke;
    text-align: center;

}

.header-content1 h2{

    font-size: 5vmin;
    background-color: red;
    border-radius: 5px;
    

}

.header-content1 h1, h3{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-content1 h4{

background-color: red;
background-size: auto;
}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;

}



}

.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
  .navbar.sticky{
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: #630000;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: #570404;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: #007bff;
  }



  .container2{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 30px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:1;
	bottom: -10px;
	background-color: #e91e63;
	height: 3px;
	box-sizing: border-box;
	width: 70px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #f00078;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}






